[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/AChubatova
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/AChubatova
	label-Verified = -1..+1 group user/AChubatova
	push = group user/AChubatova
	read = group user/AChubatova
	rebase = group user/AChubatova
	removeReviewer = group user/AChubatova
	submit = group user/AChubatova
[access "refs/heads/*"]
	create = group user/AChubatova
	push = +force group user/AChubatova
	pushMerge = group user/AChubatova
	read = group user/AChubatova
[access "refs/tags/*"]
	push = group user/AChubatova
	push = +force group user/AChubatova
